<div class="container clearfix">
  <div class="col-md-12 no-padding" style="z-index: 2 !important">
    <div class="heading">
      <div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">ABOUT ME</div>
      <p>
        Enthusiastic and passionate about cutting-edge technologies and design patterns. Moving towards an architect.
      </p>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
        <img src="images/me.png" alt="">
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
        <div class="aboutme-name">Jack Liu</div>
        <div class="aboutme-sub-heading">TypeScript | Node.js | React | C# .NET 8 | Python | T-SQL | Docker | Azure | AWS | Kubernetes </div>
          <p class="aboutme-p">
            - Highly skilled in TypeScript, ES6+, React.js, and Next.js (App Router, Server Actions).
            <br />
            - Highly skilled in responsive UI frameworks such as Tailwind CSS, Material-UI, and Chakra UI.
            <br />
            - Highly skilled in Distributed Database Design with expertise in query optimization and indexing.
            <br />
            - Highly skilled in Legacy Data Analysis & Cleaning using T-SQL and Python (Pandas, NumPy, ETL pipelines).
            <br />
            - Proficient in C# .NET and Software Architecture, with a focus on scalability, maintainability, and design patterns.
            <br />
            - Proficient in ASP.NET Core MVC, RESTful API design, GraphQL, and gRPC implementation.
            <br />
            - Proficient in Cloud & DevOps:
            <br />
            <span style="margin-left: 20px;">• Azure: AKS, App Services, Service Bus, Functions, CI/CD Pipelines</span>
            <br />
            <span style="margin-left: 20px;">• AWS: Lambda, ECS, API Gateway, RDS, S3</span>
            <br />
            - Experienced in Docker, Kubernetes, Terraform, and Bicep for Infrastructure as Code (IaC).
          </p>    
          <a href="#contact" class="aboutme-btn" du-smooth-scroll> Contact me</a>
      </div>
    </div>
  </div>
</div>
