<div class="container clearfix">
  <div class="col-md-12 no-padding" style="z-index: 2 !important">
    <div class="heading">
      <div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">ABOUT ME</div>
      <p>
        AI-enthusiastic and passionate about developing real-world GenAI solutions. Moving towards architecting intelligent systems from first principles.
      </p>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
        <img src="images/me.png" alt="">
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
        <div class="aboutme-name">Jack Liu</div>
        <div class="aboutme-sub-heading">TypeScript | Node.js | Next.js | FastAPI | LangChain | Huggingface | C# .NET 8 | Docker | Azure | AWS | Kubernetes
        </div>
          <p class="aboutme-p">
            - Experienced in GenAI development with OpenAI APIs, LangChain, and semantic search via vector DBs (pgvector).
            <br />
            - Skilled in NLP pipelines (spaCy, Transformers), embedding generation, chunking, and RAG systems.
            <br />
            - Highly experienced in full-stack development (React, Node.js, .NET 8), scalable system design, and REST APIs.
            <br />
            - Strong background in T-SQL/Python data pipelines, and legacy data cleaning.
            <br />
            - Proficient in C# .NET and Software Architecture, with a focus on scalability, maintainability, and design patterns.
            <br />
            - Proficient in ASP.NET Core MVC, RESTful API design, GraphQL, and gRPC implementation.
            <br />
            - Proficient in Cloud & DevOps:
            <br />
            <span style="margin-left: 20px;">• Azure: AKS, App Services, Service Bus, Functions, CI/CD Pipelines</span>
            <br />
            <span style="margin-left: 20px;">• AWS: Lambda, ECS, API Gateway, RDS, S3</span>
            <br />
            - Experienced in Docker, Kubernetes, Terraform, and Bicep for Infrastructure as Code (IaC).
          </p>    
          <a href="#contact" class="aboutme-btn" du-smooth-scroll> Contact me</a>
      </div>
    </div>
  </div>
</div>
