<!-- Google Map -->
<div id="google-map" ui-appear data-animation="zoomIn" google-map></div>
<!-- Contact Content -->
<div class="content contact-content padded dark" ui-appear data-animation="fadeInLeft">
  <i class="title-icon text-primary flaticon-speech43"></i>
  <h2>My Contact Details</h2>
  <ul class="list-unstyled list-unstyled-icons">
    <li>
      <i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>
      <span>18 Bartol Street, San Francisco, CA 94133</span>
    </li>
    <li>
      <i class="inline-icon icon-before-and-after text-primary fa fa-envelope"></i>
      <a href="mailto:jacklau9515@gmail.com">jacklau9515@gmail.com</a>
    </li>
    <li>
      <i class="inline-icon icon-before-and-after text-primary fa fa-skype"></i>
      <a href="skype:live:jacklau9515_1">jacklau9515@outlook.com</a>
    </li>
  </ul>
  <br /><br />
  <!-- Bottom Bar -->
  <div class="bottom-bar">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h5>View my recent activities</h5>
        <!-- Social Icons -->
        <ul class="social-icons medium">
          <li><a href="https://www.linkedin.com/in/jacklau9515" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/Jacklau9515" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://plus.google.com/+Jacklau9515" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
