<div class="home_shade_bg"></div>
<div class="wrapper padded dark">
  <!-- Profile Content -->
  <div class="home-content">
    <div class="home_title" ui-appear data-animation="fadeInDown" data-delay="200" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '75px' }">
      <span>Jack Liu</span>
    </div>
    <div class="home_title_sub" ui-appear data-animation="fadeIn" data-delay="500">
      <span>an</span><span class="position"> AI-Focused Full Stack </span><span>GenAI Engineer</span>
    </div>
    <ul class="social-icons" ui-appear data-animation="fadeInUp" data-delay="300">
      <li><a href="https://www.linkedin.com/in/jacklau9515" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/Jacklau9515AI" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="https://scholar.google.com/citations?user=XIuSnWIAAAAJ&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
    </ul>
  </div>
  <!-- Bottom Bar -->
  <div class="home-bottom-button hidden-xs">
    <p class="scrolldown">
      <a href="#aboutme" duration="1000" du-smooth-scroll><i class="fa fa-angle-double-down"></i></a>
    </p>
  </div>
</div>
