<div class="container">
  <div class="heading">
    <div class="title text-uppercase" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
      My <span class="text-blue">Resume</span>
    </div>
    <p>MY ACADEMIC BACKGROUND AND WORK EXPERIENCE</p>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">SYDNEY, NSW</span>
          <!-- <span>4/2023</span> - <span class="text-blue">Present</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Senior Software Engineer</h4>
        <h5>
          <img src="images/resumes/future_secure_ai_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.futuresecure.ai" target="_blank">Future Secure AI</a>      
          <i class="fa fa-calendar"></i>
          <span>2025.05 – Present</span>
        </h5>
        <div class="item_description">

        </div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">SYDNEY, NSW</span>
          <!-- <span>4/2023</span> - <span class="text-blue">Present</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Senior Full Stack Engineer</h4>
        <h5>
          <img src="images/resumes/standards_australia_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.standards.org.au" target="_blank">Standards Australia</a>      
          <i class="fa fa-calendar"></i>
          <span>2023.04 – 2025.05</span>
        </h5>
        <div class="item_description">
                  <p>
                    ● Decoupled projects to microservice and deployed them on Azure with effective segregated envs configurations                
                    <br />
                    ● Implemented Figma designs to React UI with Jest Unit Tests for each component, increased UI reliability by 80%
                    <br />
                    ● Empowered strategic adoption of HubSpot and Segment, enabling seamless integration with our platform
                    <br />
                    ● Replaced React JS with Next JS to enhanced SEO, faster page loads, and a more efficient development workflow
                    <br />
                    ● Integrated Algolia search functionality seamlessly into the platform, providing users with efficient search capabilities
                    <br />
                  </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">NASHVILLE, TN</span>
          <!-- <span>12/2021</span> - <span class="text-blue">4/2023</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Full Stack Engineer</h4>
        <h5>
          <img src="images/resumes/eastman_chemical_company_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.eastman.com/en" target="_blank">Eastman</a>      
          <i class="fa fa-calendar"></i>
          <span>2021.12 – 2023.03</span>
        </h5>
        <div class="item_description">
                  <p>
                    ● Code review and enhancement for both brownfield
                    applications and greenfield applications
                    <br />
                    ● Penetration testing and vulnerabilities fixing for
                    applications
                    <br />
                    ● WeChat (WeiXin) Mini Programs development and publishing
                    <br />
                    ● Legacy data analysis, cleaning and transferring to the new
                    system
                    <br />
                    ● Cutover planning and integrations on Azure DevOps and
                    Azure Portal
                    <br />
                    ● Azure App Service maintenance
                    <br />
                  </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">SYDNEY, NSW</span>
          <!-- <span>4/2018</span> - <span class="text-blue">11/2021</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Full Stack C# .NET Developer</h4>
        <h5>
          <img src="images/resumes/cjglobaltech_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.linkedin.com/company/cjglobaltech" target="_blank">CJ Global Tech</a>      
          <i class="fa fa-calendar"></i>
          <span>2018.04 – 2021.11</span>
        </h5>
        <div class="item_description">
                <p>
                  ● Refactor SQL and business logic for data sync in service
                  and repository layer
                  <br />
                  ● Refactor Entity Framework (including EF Core), stored
                  procedure, and UI components
                  <br />
                  ● Cross-browser (including safari and mobile) UI and
                  data-interaction with server-side development
                  <br />
                  ● Build .NET Web API (.NET Framework/.NET Core)
                  <br />
                  ● Maintain and develop the existing and new functional
                  change
                  <br />
                  ● Third-party payment integration
                  <br />
                </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">PHILADELPHIA, PA</span>
            <!-- <span>2/2015</span> - <span class="text-blue">2/2019</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Master of Science in Artificial Intelligence</h4>
        <h5>
          <img src="images/resumes/university_of_pennsylvania_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.upenn.edu/" target="_blank">University of Pennsylvania</a>      
          <!-- <i class="fa fa-calendar"></i>
          <span>February 2015 - August 2018</span> -->
        </h5>
        <div class="item_description">
          <p>
            ● Focusing on knowledge-based agents, large language models, NLP, and deep learning, with coursework integrating real-world tools and applications.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row item">
    <div class="col-sm-3">
      <div class="cv-section-title">
        <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
          <span class="text-blue">HOBART, TAS</span>
            <!-- <span>2/2015</span> - <span class="text-blue">2/2019</span> -->
        </h1>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="item_content">
        <h4 class="text-blue">Bachelor of Science (Honours) in Computer Science</h4>
        <h5> 
          <img src="images/resumes/university_of_tasmania_logo.png" 
          alt="Standards Australia Logo" width="50" height="50" style="margin-right:5px;">
          <a href="https://www.utas.edu.au/" target="_blank">University of Tasmania</a>      
          <!-- <i class="fa fa-calendar"></i>
          <span>February 2015 - August 2018</span> -->
        </h5>
        <div class="item_description">
          <p>
            ● Conducted research on evaluating word embeddings with human cognitive data sources, exploring their relevance in large language model (LLM) performance and interpretability.
            <br /><br />
            ● Publication:
            <br />
            <a
              style="margin-left: 15px;"
              href="https://link.springer.com/chapter/10.1007/978-981-99-8388-9_44"
              target="_blank">
              <u>
                Enhance Reading Comprehension from EEG-Based Brain-Computer Interface AI 2023: Advances in Artificial Intelligence.
              </u>
            </a>          
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
